<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beautiful Video Player</title>
    <link rel="stylesheet" href="../src/style/how_to_use.css" type="text/css">
    <link rel="icon" type="image/png" sizes="32x32" href="../src/images/hinamizawa.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

</head>
<body>
    <!-- Return button -->
    <a href="../menu.html" class="return-button">
        <i class="fas fa-arrow-left"></i>
        <span>Return</span>
    </a>

    <!-- Embed the video player -->
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/x28LkA88LmQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>
</html>
