<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/style/style.css" type="text/css">
    <title>Lottery Ui</title>
    <link rel="icon" type="image/png" sizes="32x32" href="src/images/hinamizawa.png">

  </head>
  <!-- Body contents -->
  <body>
    
    <!-- container -->
    <div class="container">
      <div class="lottery_input">
        <h4>Pick 4 numbers workout:</h4>
        <input type="number" id="myInput" value="4930"/>
        <div class="button_container">
          <button type="button" onclick="submitInput()">Submit</button>
          <button type="button" onclick="generateReport()">Generate Report</button>     
          <button type="button" onclick="submitClear()">Clear</button>
        </div>
      </div>
      <p id="error_1" style="font-weight:bold;font-size:14px;"></p>
      <div class="lottery_answers">
        <span class="lottery_titles"><h4>Answers: <br><br></h4></span>
        <div class="lottery_answers_ui">
          <div id="slot_base_answer">
            <div><p style="font-weight:bold;">Base:</p></div>
            <div id="slot_base_answer_1">NULL</div>
            <div id="slot_base_answer_2">NULL</div>
            <div id="slot_base_answer_3">NULL</div>
            <div id="slot_base_answer_4">NULL</div>
          </div>
          <div id="slot_mirror_answer"> 
            <div><p style="font-weight:bold;">Mirror:</p></div>
          <div id="slot_mirror_answer_1">NULL</div>
          <div id="slot_mirror_answer_2">NULL</div>
          <div id="slot_mirror_answer_3">NULL</div>
          <div id="slot_mirror_answer_4">NULL</div>
        </div>
          <div id="slot_flip_answer"> 
            <div><p style="font-weight:bold;">Flip:</p></div>
          <div id="slot_flip_answer_1">NULL</div>
          <div id="slot_flip_answer_2">NULL</div>
          <div id="slot_flip_answer_3">NULL</div>
          <div id="slot_flip_answer_4">NULL</div>
        </div>
        </div>
      </div>
      <div class="lottery_container">
      <div class="lottery_base_grid">
      <span class="lottery_titles"><h4>Base Grid:</h4></span>
      <div class="lottery_ui">
        <div class="lottery_ui_column_1">
          <div id="slot_1" style="color:red">1</div>
          <div id="slot_2" >2</div>
          <div id="slot_3">3</div>
          <div id="slot_4">4</div>
        </div>
        <div class="lottery_ui_column_2">
          <div id="slot_5">5</div>
          <div id="slot_6" style="color:red">6</div>
          <div id="slot_7">7</div>
          <div id="slot_8">8</div>
        </div>
        <div class="lottery_ui_column_3">
          <div id="slot_9">9</div>
          <div id="slot_10">10</div>
          <div id="slot_11" style="color:red">11</div>
          <div id="slot_12">12</div>
        </div>
        <div class="lottery_ui_column_4">
          <div id="slot_13">13</div>
          <div id="slot_14">14</div>
          <div id="slot_15">15</div>
          <div id="slot_16" style="color:red;">16</div>
        </div>
      </div>
    </div>
      <div class="lottery_mirror_grid">
      <span class="lottery_titles"><h4>Mirror + 5 Grid:</h4></span>
      <div class="lottery_ui">
        <div class="lottery_ui_column_1">
          <div id="slot_1_mirror">1</div>
          <div id="slot_2_mirror">2</div>
          <div id="slot_3_mirror">3</div>
          <div id="slot_4_mirror">4</div>
        </div>
        <div class="lottery_ui_column_2">
          <div id="slot_5_mirror">5</div>
          <div id="slot_6_mirror">6</div>
          <div id="slot_7_mirror">7</div>
          <div id="slot_8_mirror">8</div>
        </div>
        <div class="lottery_ui_column_3">
          <div id="slot_9_mirror">9</div>
          <div id="slot_10_mirror">10</div>
          <div id="slot_11_mirror">11</div>
          <div id="slot_12_mirror">12</div>
        </div>
        <div class="lottery_ui_column_4">
          <div id="slot_13_mirror">13</div>
          <div id="slot_14_mirror">14</div>
          <div id="slot_15_mirror">15</div>
          <div id="slot_16_mirror">16</div>
        </div>
      </div>
      
    </div>
    <div class="lottery_flip_grid">
      <span class="lottery_titles"><h4>Flip Grid:</h4></span>
      <div class="lottery_ui">
        <div class="lottery_ui_column_1">
          <div id="slot_1_flip">1</div>
          <div id="slot_2_flip">2</div>
          <div id="slot_3_flip">3</div>
          <div id="slot_4_flip">4</div>
        </div>
        <div class="lottery_ui_column_2">
          <div id="slot_5_flip">5</div>
          <div id="slot_6_flip">6</div>
          <div id="slot_7_flip">7</div>
          <div id="slot_8_flip">8</div>
        </div>
        <div class="lottery_ui_column_3">
          <div id="slot_9_flip">9</div>
          <div id="slot_10_flip">10</div>
          <div id="slot_11_flip">11</div>
          <div id="slot_12_flip">12</div>
        </div>
        <div class="lottery_ui_column_4">
          <div id="slot_13_flip">13</div>
          <div id="slot_14_flip">14</div>
          <div id="slot_15_flip">15</div>
          <div id="slot_16_flip">16</div>
        </div>
      </div>
  </div>
  
    </div>
    <div><br><br><br>
   
      <br><br><br></div>
    <!-- Footer wowie you must be proud,
       with this shitty skill :v -->
    <footer>
      <div class="footer-container">

        <p>Created by <a href="https://github.com/alejandroatacho"> Hinamizawa</a></p>
        <p>&copy; 2023 All Rights Reserved</p>
      </div>
    </footer>
    <script src="../src/js/main.js"></script>
    <script src="../src/js/report.js"></script>
  </body>
</html>
