@media all {
  * {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #myInput {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  button {
    width: 80%;
    background-color: var(--var-button_background);
    color: var(--var-background_color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }

  .lottery_ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    .lottery_ui_column_1,
    .lottery_ui_column_2,
    .lottery_ui_column_3,
    .lottery_ui_column_4 {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      div {
        padding: 5px;
        border: 1px solid black;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;

    .button_container {
      flex-direction: column;
      margin-bottom: 20px;

      button {
        margin-bottom: 15px;
      }
    }
  }

  .lottery_container {
    flex-direction: column;
    align-items: center;
  }

  .lottery_ui {
    width: 100%;
    margin-right: 0;
  }
}
