@media all {
  * {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
  p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    background-image: var( --var-background-image2);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;

    .button_container{
      display:flex;
      flex-direction: column;
      margin-bottom: 20px;
      button {
        width: 80%;
        margin-bottom: 15px;
        background-color: var(--var-button_background);
        color: var(--var-background_color);
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  #myInput {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  .lottery_container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    .lottery_titles h4{
      font-weight:bold;
      font-size:16px;
      color: #40A8BF;
      text-shadow: 0.75px 0.75px 1px #333;
    }
  }

  .lottery_ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;

    .lottery_ui_column_1,
    .lottery_ui_column_2,
    .lottery_ui_column_3,
    .lottery_ui_column_4 {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      div {
        padding: 5px;
        border: 1px solid black;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .container {
    height: auto;
  }

  .lottery_container {
    width:100%;
  }

  .lottery_ui {
    width: 100%;
    margin-right: 0;
  }
}
