body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  // background-color: #f5f5f5;
  background-color: antiquewhite;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //   height: 100vh;
}
#myInput {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.lottery_ui {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 33%;
  .lottery_ui_column_1,
  .lottery_ui_column_2,
  .lottery_ui_column_3,
  .lottery_ui_column_4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    div {
      padding-top: 5px;
    }
  }
}
