:root {
  --var-button_background: #40A8BF;
  --var-background_color: antiquewhite;
}
html, body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: var( --var-background_color);
}

// body {
//   margin: 0;
//   padding: 0;

// }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:auto;
  .button_container{
  display:flex;
  flex-direction: row;
  button {
    margin-right:15px;
  }
  }
}
.lottery_container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
}
.lottery_titles {
  text-align:left;
}
#myInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: var(--var-button_background);
  color: var(--var-background_color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.lottery_answers_ui {
  display:flex;
  flex-direction:row;
  div {
    margin-right:2px;
  }
}
.lottery_ui {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 33%;
  margin-right:10px;

  .lottery_ui_column_1,
  .lottery_ui_column_2,
  .lottery_ui_column_3,
  .lottery_ui_column_4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    display: inline-block;

    div {
      padding-top: 5px;
      border-bottom: 1px solid black;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
    }
  }
}
$footer-height: 50px; // set the height of the footer

.wrapper {
  min-height: 100%;
  margin-bottom: -$footer-height;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  height: $footer-height;
  position: static;
  margin-top: 10px;

  a {
    color: #fff;
    text-decoration: none;
 
    &:hover {
      text-decoration:underline;
      color: var(--var-button_background);
    }
  }
}


@import "mobile";
