:root {
  --var-button_background: #40A8BF;
  --var-background-image:url("../images/bgbgbg.png");
  --var-background-image2:url("../images/applesauce2.jpg");
  --var-background_color: antiquewhite;
  --var-house-style-1: #304558;
  --var-house-style-2: #CCE9EF;
  --var-house-style-3: #90B8C9;
  --var-house-style-4: #7292BC;
}

.lottery_answers_ui, .lottery_base_grid, .lottery_mirror_grid, .lottery_flip_grid,.lottery_answers {
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  background-image: var( --var-background-image2);
  background-repeat: no-repeat;
  background-size:  cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:597px;
  max-height: 1000px;
  .button_container{
    display:flex;
    flex-direction: row;
    button {
      margin-right:15px;
      font-weight:bold;
    text-shadow: 0.75px 0.75px 1px #333;
    }
  }
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.lottery_container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
  .lottery_titles h4{
    font-weight:bold;
    font-size:16px;
    color: var(--var-house-style-1);
    text-shadow: 0.75px 0.75px 1px #333;
  }
}

.lottery_titles {
  text-align:left;
}

#myInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#slot_base_answer {
  color: var(--var-house-style-1);
}

#slot_mirror_answer {
  color: var(--var-house-style-2);
}

#slot_flip_answer {
  color: var(--var-house-style-4);
}
button {
  background-color: var(--var-house-style-1);
  color: var(--var-background_color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
.lottery_input {
  margin-top: auto;
  h4 {
    font-weight:bold;
    font-size:16px;
    text-shadow: 0.75px 0.75px 1px #333;
    color: var(--var-house-style-1);
    
  }
}
.lottery_answers {
  margin-top:15px;
  margin-bottom:15px;
  background-color: var(--var-button_background);
  padding: 10px 20px 10px 20px;
  border-style: inset;
  border-width: 7px;
  border-color: var(--var-house-style-3);  
  border-radius: 15px;
  .lottery_titles h4{
    font-weight:bold;
    font-size:16px;
    text-shadow: 0.75px 0.75px 1px #333;
    color: var(--var-house-style-1);
  }
  p, div {
    text-shadow: 0.75px 0.75px 1px #333;
    font-weight:bold;
  }
}
.lottery_answers_ui {
  display:flex;
  flex-direction:row;
  div {
    margin-right:5px;
  }
}
.lottery_ui {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 33%;
  margin-right:10px;

  .lottery_ui_column_1,
  .lottery_ui_column_2,
  .lottery_ui_column_3,
  .lottery_ui_column_4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    display: inline-block;
    background-color: var(--var-house-style-2);

    div {
      padding-top: 5px;
      border-bottom: 1px solid black;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
    }
  }
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  height: auto;
  position: static;
  margin-top: 10px;
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  
  }.footer-mid span {
    display:flex;flex-direction: row;;
  }
  .footer-left, .footer-mid {
    justify-content: center;
    align-items: center;
  }
  .footer-links {
    display:flex;
    flex-direction: column !important;
    justify-content: center;
    }
    a {
    color: #fff;
    text-decoration: none;
    
    &:hover {
    text-decoration:underline;
    color: var(--var-button_background);
    }
    }
  }
    .return-button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #40A8BF;
    padding: 10px 15px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    
    i {
    margin-right: 10px;
    font-size: 20px;
    }
    }
    
    @import "mobile";
